* {
    margin: 0;
    padding: 0;

    /* list style */
    list-style: none;
    
    line-height: 1.5;
    font-size: 16px;
    text-decoration: none;
    color: #222222;

    box-sizing: border-box;
    

    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    width: 360px;
    margin: 0 auto;
}

#header {
    width: 360px;
    height: 70px;
    /* background: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: relative;
}
.header-icon {
    margin-right: auto;
}

#logo {
    display: block;
    text-indent: -9999px;
}
#logo::after {
    content: '';
    display: block;
    width: 75px;
    height: 30px;
    background: url(../image/megazoo-logo.png) no-repeat center center;
    background-size: 75px 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mypg {
    display: block;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
}
.mypg::after {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background: url(../image/mypage-icon.png) no-repeat center center;
    background-size: 22px;

    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
button {
    display: block;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
}

#gnb .btn.menubar::after {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background: url(../image/menubar-icon.png) no-repeat center center;
    background-size: 22px;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}

#gnb {
    position: relative;
}

.hover  {
    display: none;
}
.allmenu-header {
    width: 360px;
    height: 70px;
    display: flex;
    justify-content: spa;
}
.allmenu {
    display: none;
    width: 360px;
    height: auto;
    

    position: absolute;
    top: -22px;
    right: 0;
}
#gnb:hover .allmenu{
    display: block;
}
.menubar-click.tit {
    z-index: 1000000;
    background: #fff;
    display: flex;


    display: block;
    font-size: 38px;
    font-weight: bold;
    color: #222222;

    padding: 20px 200px 20px 0;
}

.menubar-click.tit:hover {
    color: #e30613;
    display: flex;
}

.menubar-click.tit:hover::after {
    content: '';
    display: block;
    
    width: 22px;
    height: 22px;
    background: url(../image/gnb-choice.png) no-repeat center center;
    background-size: 22px;
}


/* 스와이퍼 */
.swiper {
    width: 100%;
    height: auto;
    z-index: -1;
}
.swiper-slide img {
    object-fit: cover;
}



/* 슬라이드텍스트 */
.animated .right {
    background: #222222;
}
.animated .left {
    background: #e30613;
}
.animated span {
    font-family: 'Noto sans KR';
    font-size: 20px;
    color: #fff;
}
.flowtxt {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
    z-index: -1;
}
.flowtxt>div {
    
}
.animated > .flowtxt.right > div{
    line-height: 50px;
    animation: marqueer 50s linear infinite;
}
@keyframes marqueer {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

.animated > .flowtxt.left > a > div {
    line-height: 50px;
    animation: marqueel 48s linear infinite;
}
@keyframes marqueel {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
  }



